# Gemini Configuration
GEMINI_API_KEY=

# Stripe Configuration
STRIPE_SECRET_KEY=
APP_URL=https://ais-dev-uit4z5qum46ul45my2z4ox-539977050625.us-east1.run.app
SHARED_APP_URL=https://ais-pre-uit4z5qum46ul45my2z4ox-539977050625.us-east1.run.app

# Firebase Configuration (Handled by the platform)
PROJECT_ID=gen-lang-client-0266664207
